<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UpdateStock"
            android:label="@string/title_activity_update_stock"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".UpdateGaspa"
            android:label="@string/title_activity_update_gaspa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListGaspa"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_list_gaspa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Intervenant"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_intervenant"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockeList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_stocke_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateApproche"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/approche"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdatePrise"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_update_prise"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updateSuivi"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_update_suivi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListApproche"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_list_approche"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListPrisenCharge"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_list_prisen_charge"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListSuivisous"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_list_suivisous"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateDepistage"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_update_depistage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateDepistagePassif"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DepistagePassifList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_depistage_passif_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivtiteMobileList"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_depistage_passif_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>